// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#regular{
    text-decoration-line: line-through;
    text-decoration-color: #a4dd25;
    text-decoration-style: double;
    
}
.ncarts{
    color: #a4dd25;
    font-size: 15px;
}